<!doctype html>
<html lang="en">
  <head>
    <link href="https://fosstodon.org/@khoi" rel="me" />
    <link rel="icon" href="/assets/favicon.ico" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="theme-color" content="#191919" />
    <meta name="generator" content="Eleventy">
    <meta name="title" content="{{ title }}" />
    {% if description %}
    <meta name="description" content="{{ description | slice: 0,150 | append: "..." }}" />
    {% endif %}
    {% if not description and post_excerpt %}
    <meta name="description" content="{{ post_excerpt | strip_newlines | strip_html | slice: 0,150 | append: "..." }}" />
    {% endif %}
    {% if not post_excerpt and not description %}
    <meta name="description" content="{{ title | prepend: " > " | prepend: site.title }}" />
    {% endif %}

    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ site.url }}" />
    <meta property="og:title" content="{{ title }}" />
    {% if description %}
    <meta property="og:description" content="{{ description | slice: 0,150 | append: "..." }}" />
    {% endif %}
    {% if not description and post_excerpt %}
    <meta property="og:description" content="{{ post_excerpt | strip_newlines | strip_html | slice: 0,150 | append: "..." }}" />
    {% endif %}
    {% if not post_excerpt and not description %}
    <meta property="og:description" content="{{ title | prepend: " > " | prepend: site.title }}" />
    {% endif %}
    {% if ogImage %}
    <meta property="og:image" content="{{ ogImage }}" />
    {% endif %}
    {% if not ogImage %}
    <meta property="og:image" content="{{ site.url | append: "/assets/ava.png" }}" />
    {% endif %}

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="{{ site.url }}" />
    <meta property="twitter:title" content="{{ title }}" />
    {% if description %}
    <meta property="twitter:description" content="{{ description | slice: 0,150 | append: "..." }}" />
    {% endif %}
    {% if not description and post_excerpt %}
    <meta property="twitter:description" content="{{ post_excerpt | strip_newlines | strip_html | slice: 0,150 | append: "..." }}" />
    {% endif %}
    {% if not post_excerpt and not description %}
    <meta property="twitter:description" content="{{ title | prepend: " > " | prepend: site.title }}" />
    {% endif %}
    {% if ogImage %}
    <meta property="twitter:image" content="{{ ogImage }}" />
    {% endif %}
    {% if not ogImage %}
    <meta property="twitter:image" content="{{ site.url | append: "/assets/ava.png" }}" />
    {% endif %}

    <link rel="stylesheet" type="text/css" href="/assets/styles/tailwind.css">

    <link rel="preload" href="/assets/styles/index.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" type="text/css" href="/assets/styles/index.css"></noscript>
    
    <link rel="preload" href="/assets/styles/prism-okaidia.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" type="text/css" href="/assets/styles/prism-okaidia.css"></noscript>

    <script data-goatcounter="https://khoi.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
    <title>{{ title }}</title>
  </head>

  <body class="text-white bg-black">
    {{ content }}    
  </body>
</html>