<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="theme-color" content="#191919"/>
    <meta name="title" content={title} />
    <link rel="icon" href="/assets/favicon.ico" />
    
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ site.url }}"/>
    <meta property="og:title" content="{{ title }}" />    

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="{{ site.url }}" />
    <meta property="twitter:title" content="{{ title }}" />    

    {% if post_excerpt %}
    <meta property="description" content="{{ post_excerpt | strip | append: "..." }}" />
    <meta property="og:description" content="{{ post_excerpt | strip | append: "..." }}" />
    
    <meta property="twitter:description" content="{{ post_excerpt | strip | append: "..." }}" />

    {% if ogImage %}
    <meta property="og:image" content="{{ ogImage }}" />
    <meta property="twitter:image" content="{{ ogImage }}" />
    {% endif %}

    {% unless ogImage %}
    <meta property="og:image" content="/assets/ava.jpg" />
    <meta property="twitter:image" content="/assets/ava.jpg" />
    {% endunless %}

    {% endif %}
    
    {% unless post_excerpt %}
    <meta property="description" content="{{ title | prepend: " > " | prepend: site.title }}" />
    <meta property="og:description" content="{{ title | prepend: " > " | prepend: site.title }}" />
    <meta property="og:image" content="/assets/ava.jpg" />
    
    <meta property="twitter:description" content="{{ title | prepend: " > " | prepend: site.title }}" />
    <meta property="twitter:image" content="/assets/ava.jpg" />
    {% endunless %}


    <link href="/assets/styles/tailwind.css" rel="stylesheet" />
    <link href="/assets/styles/index.css" rel="stylesheet" />
    <link href="/assets/styles/prism-okaidia.css" rel="stylesheet">
    <script data-goatcounter="https://khoi.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
    <title>{{ title }}</title>
  </head>

  <body class="text-white bg-black">
    {{ content }}
  </body>
</html>