---
layout: main
---

<a href="/" class="block w-fit">
    <p class="bg-[#0e3d66] w-fit p-1 text-2xl font-bold mt-5 mb-1 leading-tight capitalize">KHOI | Blog</p>
</a>
<div class="inline text-sm italic">
	<a class="underline underline-offset-4" target="_blank" href="https://creativecommons.org/licenses/by-sa/4.0/">Open-sourcing knowledge</a>
</div>

{% include "nav.liquid" %}

<a class="hover:underline underline-offset-8" href="{{ page.url }}">
  <p class="text-4xl font-black pt-5 md:pt-30 pb-4 leading-tight">{{ title }}</p>
</a>

<div>
    <em>{{ date | date: "%a, %b %d, %Y" }}</em> &middot;
    <span>{{ content | readTime }} min read</span>
</div>

<div class="mt-3 pb-10">
  {% for tag in tags %}
    {% if tag != "posts" %}
      <a href="/tags/{{ tag }}">
        <span class="post-tag">{{ tag }}</span>
      </a>
    {% endif %}
  {% endfor %}
  </div>

<div id="post" class="prose prose-invert hover:prose-a:text-blue-500">
  {% if ogImage %}
  <img loading="lazy" width="580" height="300" class="w-[580px] h-[300px] pb-5 rounded-lg object-cover" src="{{ ogImage }}" alt="Blog post image"/>
  {% endif %}

  {% assign table_of_content = content | toc %}
  {% assign toc_size = table_of_content | size %}
  {% if toc_size > 0 %}
  <details open>
    <summary style="cursor: pointer;" class="text-xl font-bold">Table of contents</summary>
    {{ table_of_content }}
  </details>	  
  {% endif %}
  <article>{{ content }}</article>
</div>
