---
layout: default
title: KHOI | Blog
pagination:
  data: collections.posts
  size: 10
  reverse: true
  alias: posts
---

{% for post in pagination.items %} {% if post.data.published %}
<div class="py-5">
  <p>
    <span class="text-xl font-bold hover:text-blue-700 leading-tight">
      <a class="urls" href="{{ post.url }}">{{ post.data.title }}</a>
    </span>
    <span class="text-lg font-normal text-gray">
      &middot; {{ post.templateContent | readTime }} min read
    </span>
  </p>

  <em class="text-gray">{{ post.date | date: "%Y-%m-%d" }}</em>
  <p class="mt-4 text-gray">
    {% if post.data.description %}{{ post.data.description | strip | append: "..." }}{% endif %}
    {% if not post.data.description %}{{ post.data.post_excerpt | strip | append: "..." }}{% endif %}
  </p>

  <div class="flex justify-between items-center mt-4">
    <div class="flex-1 pr-4">
      {% for tag in post.data.tags %} 
      {% if tag != "posts" %}
      <a href="/tags/{{ tag }}">
        <div class="post-tag">{{ tag }}</div>
      </a>
      {% endif %}
    {% endfor %}
    </div>

    <a
      id="read_this"
      class="flex-none hover:underline font-semibold"
      href="{{ post.url }}"
      >Read this post &rarr;</a
    >
  </div>
</div>

{% endif %} {% endfor %} {% include "paginator.liquid" %}
